
<script>

    var sayac=0;
    function addInput()
    {
        sayac=sayac+1;
        var hrElement= document.createElement('hr')
        var inputElement = document.createElement('input');
        var buttonElement = document.createElement('input');
        var textareaElement = document.createElement('textarea');
        

        inputElement.type = 'text';
        inputElement.name = 'txtOption'+sayac;
        inputElement.id = 'txtOption'+sayac;
        inputElement.placeholder = 'Seçenek...';
        inputElement.className ='ssss';

        buttonElement.type="button";
        buttonElement.id="btn"+sayac;
        buttonElement.value="*Sil*";
        buttonElement.setAttribute("onClick", `deleteElement(${sayac})`);


        textareaElement.name="txtDescription"+sayac;
        textareaElement.id="txtDescription"+sayac;
        textareaElement.placeholder="Açıklama...";
        
        hrElement.id="hr"+sayac;
        var container = document.getElementById('container');


        container.appendChild(inputElement);
        container.appendChild(textareaElement);
        container.appendChild(buttonElement);
        container.appendChild(hrElement);
    }

    function deleteElement(id)
    {
        var btnDelete=  document.getElementById("btn"+id).remove();
        document.getElementById("txtDescription"+id).remove();
        document.getElementById("txtOption"+id).remove();
        document.getElementById("hr"+id).remove();
    }


</script>   
@{
    if(ViewBag.Message != string.Empty)
    {
        <h2>@ViewBag.Message</h2>
    }
}
<form method="post" enctype="multipart/form-data" asp-controller="Auth" asp-action="Dashboard">
            Soru: <br>
            <textarea name="txtQuestion">Soruyu yazınız....</textarea><button type="button" onclick="addInput()" name="btnAdd">*Seçenek Ekle*</button>
            <br>
            <div id="container"></div>
            <input type="submit" value="Submit"/>
            
</form>