@using Microsoft.AspNetCore.Http;
@model MoodApp.Models.UsersModel;
<form method="post" enctype="multipart/form-data" asp-controller="Auth" asp-action="Login">
        <h4>@Context.Session.GetString("ses_errorMessage") </h4>
        <h4>@Context.Session.GetString("ses_succesMessage") </h4>
        @{
            Context.Session.Remove("ses_errorMessage");
            Context.Session.Remove("ses_succesMessage");
        }
        <br>
        <label asp-for="txtUsername"></label> : <br>
        <input asp-for="txtUsername" data-val-required="Üye adı boş geçilemez !" data-val-minlength="Üye Adı 5 karakterden az olamaz "> <br>
        <span asp-validation-for="txtUsername"></span><br>

        <label asp-for="txtPassword"></label> : <br>
        <input asp-for="txtPassword" data-val-required="Şifre boş geçilemez !"> <br>
        <span asp-validation-for="txtPassword"></span><br>

        <input type="submit" value="Submit"/>
</form>
<h1>@ViewBag.Message</h1>